#Copy this into .env file and change the values inside << >>
#Database credentials
DB_HOST = <<DB HOST>>
DB_USER = <<DB USERNAME>>
DB_PASSWORD = <<DB PASSWORD>>
DB_NAME = <<DATABASE NAME>>
DB_PORT = <<DATABASE PORT>>

#Auth credentials
TOKEN_TTL = << TOKEN DURATION >>
JWT_PRIVATE_KEY = << JWT PRIVATE KEY >>